<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20379398-4', 'getmogochat.com');
  ga('send', 'pageview');

</script>


<% content_for :header do %>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<% end %>

<a href="https://github.com/HashNuke/mogo-chat"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-green@2x.png" alt="Fork me on GitHub"></a>


<div class="container">

  <div class="row header-margins">
    <div class="col-md-12 app-name">Mogo Chat</div>
  </div>

  <div class="row">
    <div class="col-md-12 app-description">opensource team chat application</div>
  </div>

  <div class="row">
    <div class="col-md-12 nav">
      <ul class="list-inline">
        <li>
          <a class="btn btn-info"
             href="https://github.com/HashNuke/mogo-chat/blob/master/docs/install-heroku.md">
             Install on Heroku
          </a>
        </li>

        <li>
          <a class="btn btn-default" href="http://mogo-chat-demo.herokuapp.com">Try demo</a>
        </li>

        <li>
          <a class="btn btn-default" href="http://github.com/HashNuke/mogo-chat">Source code</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <%= image_tag "screenshot.png" %>
    </div>

    <div class="col-md-12 social">
      <ul class="list-inline">
        <li class="twitter">
          <a href="https://twitter.com/share"
             data-count="none"
             data-size="large"
             data-text="Mogo Chat - #opensource team chat app http://getmogochat.com, written in #Elixir & #Emberjs by @HashNuke"
             data-related="HashNuke:Author of Mogo Chat"
             class="twitter-share-button" data-lang="en">Tweet</a>
        </li>

        <li>
          <a href="https://gum.co/mogochat?wanted=true" class="gumroad-button">Donate</a>
        </li>

        <li class="gittip">
          <script data-gittip-username="HashNuke"
            data-gittip-widget="button"
            src="//gttp.co/v1.js"></script>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12 features">
          <h2 class="section-title">Features</h2>

          <div class="col-md-4">
            <%= image_tag "feature-mobile.png" %>
            <p>Works on mobile devices</p>
          </div>

          <div class="col-md-4">
            <%= image_tag "feature-snippets.png" %>
            <p>Supports code snippets and IRC-style <i>/me</i> messages</p>
          </div>

          <div class="col-md-4">
            <%= image_tag "feature-notifications.png" %>
            <p>Visual and sound notifications for messages</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12">
      <br/>
      <br/>
      <p style="text-align:center">
        ...and comes with an <a href="https://github.com/HashNuke/mogo-chat/blob/master/docs/api.md">API</a>. All of this licensed under the MIT License.
      </p>
    </div>
  </div>


  <div class="row footer">
    <div class="col-md-6">
      <p>
        <h4>Looking for a developer?</h4>
        <b>Akash Manohar</b> (akash@akash.im)<br/>
        <a href="http://github.com/HashNuke">Github</a>, <a href="http://akash.im">Blog</a><br/>
        Ruby (and Rails), Elixir, CoffeeScript, Ember.js...
      </p>
    </div>

    <div class="col-md-6">
      <h4>Built using</h4>
      <div class="row">
        <div class="col-md-2">
          <a href="http://elixir-lang.org/"><%= image_tag "elixir-logo.png", class: "elixir-logo" %></a>
        </div>

        <div class="col-md-2">
          <a href="http://emberjs.com/"><%= image_tag "emberjs-logo.png", class: "emberjs-logo" %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.postgresql.org/">
            <%= image_tag "postgresql-logo.png", class: "postgresql-logo" %>
          </a>
          <span class="tool-name">PostgreSQL</span>
        </div>

        <div class="col-md-3 phoenix">
          <a href="https://github.com/phoenixframework/phoenix">Phoenix Framework</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Honors</h4>
      (in no particular order)
      <ul>
        <li>
          Hugs to <a href="https://twitter.com/kenneth">Kenneth</a> for the layout revamp of this site, which I then dirtied to my whim in order to add this section :)
        </li>
        <li>
          Thanks to <a href="http://prakhar.me/">Prakhar</a> & <a href="https://twitter.com/rasagy">Rasagy</a> for being available to bug for feedback.
        </li>
        <li>
          Butterflies to <a href="https://twitter.com/plmrc">Paulami</a> for the crying shoulder, when everything seemed screwed up.
        </li>
        <li>
          Thanks to <a href="https://twitter.com/chris_mccord">Chris McCord</a> for hurrying up with features in the Phoenix framework whenever I required it.
        </li>
        <li>
          Thank you & a full day gaming session to <a href="https://twitter.com/ckailash"/>Kailash</a> for pinging me, when I really needed to talk (telepathy stuff) :)
        </li>
        <li>
          Thanks and prepaid mobile credits to <a href="https://twitter.com/shoibmd">Shoib</a> for calling me regularly to check my vital signs :D
        </li>
        <li>
          Offer of being a regular movie-going-buddy to <a href="https://twitter.com/riyazrmk4">Riyaz</a>, because he pushed me to complete this stuff.
        </li>
        <li>
          XOXO to the guys on the Elixir IRC channel, especially <a href="https://twitter.com/emjii">Eric</a>, <a href="https://twitter.com/josevalim">Jose Valim</a> and <a href="https://twitter.com/johnny_rugger">Johnny</a>.
        </li>
        <li>And "hello" to aliens visiting our planet. (You thought we didn't know?)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <hr/>
      <i>Yes, this is the end of the page :)</i>
    </div>
  </div>

</div>
